@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,300italic,400italic,700italic);

body {
    font-family: 'Lato', sans-serif;
    background-color: #ecf0f1;
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', sans-serif;
}

a {
    color: $color-action;
    transition: .4s ease all;

    &:hover {
        text-decoration: none;
        color: darken($color-action, 30%);
    }

    &:focus {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    a {
        color: $color-text;
        ;
        &:hover {
            color: $color-action;
        }
    }
}

h1 {
    display: inline-block;
    padding-top: 10px;
}

h2 {
    font-size: 24px;
}

span {
    &.text-value,
    &.text-caption {
        padding: 10px 0;
    }

    &.text-caption {
        font-weight: 600;
    }
}

.breadcrumbs {
    padding: 10px 20px;
    background: #e0e7e8;
    margin-bottom: 40px;
    clear: left;

    a {
        color: $color-text;
        font-weight: 800;
    }
}

.details-box {
    margin: 10px 0;

    .description {
        margin-top: 30px;
    }
}

.editButton {
    display: inline-block;
    margin-left: 10px;
}

.coder-table i.fa {
    font-size: 20px;
    margin-left: 20px;
}

.whiteBox {
    position: relative;
    width: 100%;
    color: $color-text;
    background: #fff !important;
    padding: 30px 20px;
    margin-bottom: 30px;
    border: 1px solid $color-first;

    .title, .sub-title {
        margin-top: 0 !important;
        
    }

    .title {
        font-size: 24px;
        display: inline-block;
    }

    .sub-title {
        font-size: 18px;
        display: block;
    }
}

#projectTaskList, #submissionList {
    padding: 10px;
}

h1 {
    margin: 10px 0 30px;
}

.title-box {
    background: #fff;
    border: 1px solid $color-first;
    margin-bottom: 30px;

    .title-box-title {
        background: $color-first;
        color: #fff;
        padding: 10px 20px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            font-weight: 300;
        }
    }

    .title-box-content {
        padding: 30px 20px;
    }
}

.contentWrap {
    position: relative;
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.btn .fa {
    margin-right: 5px;
}

input[type="submit"] {
    float: right;
}

.btn-changeview {
    float: right;
    margin-top: 25px;

    & + * {
        clear: left;
    }
}

h1 {
    float: left;
}
h1 + .btn {
    float: left;
    margin-left: 20px;
    margin-top: 25px;
}