@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,300italic,400italic,700italic);
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
}

a {
    color: $color-action;
    transition: .4s ease all;
    &:hover {
        text-decoration: none;
        color: darken($color-action, 30%);
    }
}

h1 {
    display: inline-block;
    padding-top: 10px;
}

h2 {
    font-size: 24px;
}

span {
    &.text-value, &.text-caption {
        padding: 10px 0;
    }

    &.text-caption {
        font-weight: 600;
    }
}

.breadcrumbs {
    a {
        color: #000;
        font-weight: 800;
    }
}

.details-box {
    margin: 10px 0;

    .description {
        margin-top: 30px;
    }
}

.editButton {
    display: inline-block;
    margin-left: 10px;
}

i.fa {
    font-size: 24px;
    margin: 0 20px;
}
