.allCourses {   
    margin-top: 10px;
}

.course-details {
    margin-bottom: 50px;
}

.course-box {
    
    margin-bottom: 50px;
    h3 {
        margin-top: 0;
    }
    .coder-table {
        margin-top: 0;
    }
}

#cancelCreate {
    font-size: 30px;
}