
.projects-dashboard-list {

    .project-dashboard-subtitle {
        font-size: 22px;
        color: $color-action;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .project-box {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        padding: 10px 15px;
        border: 1px solid #e0e0e0;
        transition: border-color ease-in 0.2s;
        background: ghostwhite;

        &:hover {
            border-color: $color-first;
        }

        h4 {
            font-weight: 500;
            color: $color-text;
        }

        .course-title {
            margin-bottom: 10px;
            color: $color-text;
        }

        .course-date {
            color: $color-text;
            margin-bottom: 10px;
        }

        .course-date-clock {
            color: $color-text;
            position: absolute;
            top: 21px;
            right: 15px;

            i {
                margin-right: 5px;
            }
        }

        .course-grade {
            color: $color-first;
            position: absolute;
            bottom: 21px;
            right: 15px;

            i {
                color: $color-action;
                margin-right: 5px;
            }
        }
    }
}

.projectBox {
    position: relative;
    min-height: 220px;
    min-width: 225px;
    border: solid;
    font-size: 13px;
    text-align: center;  
    border: 1px solid #e0e0e0;
    color: $color-text;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;

    &:hover {
        border-color: $color-first;
    }

    .name {
        font-size: 16px;
        margin-bottom: 1px;
    }

    .course {
        font-style: oblique;
    }

    .value {
        display: inline-block;
        width: 100%;
        margin: 10px 0 5px 0;
    }

    .date {
        position: absolute;
        bottom: 0;
        display: block;
        margin-left: 0;
        font-size: 10px;

        .start {
            width: 50%;
            text-align: left;
        }

        .end {
            width: 50%;
            text-align: right;
        }
    }    

    .course-date {
        margin-top: 5px;
    }

    .course-date-clock {
        margin-top: 5px;

        i {
            margin-right: 5px;
        }
    }
}

.dashboard-box-right {
    padding: 0;

    .title-box-title {
        padding-left: 15px;
        padding-top: 15px;

        h3 {
            padding-bottom: 15px;
            border-bottom: 1px solid #ccc;
        }
    }

    .coder-table thead tr th {
        padding-left: 15px;
    }

    .coder-table tbody tr {
        td {
            text-align: left !important;
            padding-left: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .string-max-length {
    }
}