//The whole nav bar
.navbar-inverse {
    position : absolute;
    top : 0;
    width : 1140px;
    border : solid;
    margin : 0 auto;
    border-color : $color-first;
    box-shadow: $boxShadow;
    /*
    -webkit-border-bottom-left-radius : $bevel;
    -webkit-border-bottom-right-radius : $bevel;
    */
    font-size : 15px;
    background-color : $color-first;
    color : $color-second!important;
}

//Leftmost item in navbar
.navbar-brand {
    color : $color-second!important;
    font-size : 20px;
}

//All hover on navbar
a:hover, .navbar-brand:hover{
        background-color : $color-second!important;
        color : $color-first!important;
    }

//Text in all but brand
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a {
    color : $color-second!important;
}

//Text in all but brand, on hover
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:hover {
    color : $color-first!important
}