#header {
    top: 0;
    left: 0;
    margin: 0 auto;
    background: #2c3e50;
    box-shadow: 2px 3px 3px -2px rgba(0, 0, 0, .80);
    border-bottom: none;
    font-size: 15px;
    color: #fff;


    .nav a {
        color: $color-second;
        transition: .4s ease all;
        &:hover {
            color: $color-third;
        }
    }

    //Leftmost item in navbar
    .navbar-brand {
        color: $color-third;
        font-size: 26px;
    }

    :hover {
        color : $color-second;
    }
}

#headLogo {
    float: left;
    margin-top : 5px;
    margin-right: 8px;
    width: 44px; 
    
    :hover {
        fill: $color-third!important;
    }  
}