#header {
    top: 0;
    left: 0;
    margin: 0 auto;
    background: $color-first;
    border-bottom: none;
    font-size: 15px;
    color: #fff;
    height: 60px;

    .nav a {
        color: #fff;
        transition: .4s ease all;
        padding-top: 20px;
        height: 60px;

        &:hover {
            background: #fff;
            color: $color-action;
        }
    }

    .navbar-header:hover {
        #headLogo svg path {
            fill: $color-action;
        }

        .navbar-brand.logoTitle {
            color: $color-action;
        }
    }

    .navbar-brand.logoTitle {
        color: #fff;
        margin-right: 10px;
        font-size: 20px;
        transition: .4s ease all;
        padding-top: 20px;
        height: 60px;
    }
}

#headLogo {
    float: left;
    padding: 12px 15px 5px 0;
    height: 60px;

    svg {
        display: block;
        width: 35px;

        path {
            transition: .4s ease all;
        }
    }
}
