html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    padding-top: 50px;
    flex-direction: column;
    overflow-y: scroll;
}

#main {
    margin-top: 20px;
    flex: 1;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

a {
    color: $color-third;

    :hover {
        color: $color-first;
    }
}

hr {
    height: 12px;
    //margin: 30px -999px 20px;
    border: 0;
    border-bottom: 1px solid $color-text;
}

.backArrow {
    margin-top: 10px;
}

.text-danger {
    color: $color-action!important;
}

.input-validation-error{ 
    background: pink; 
    border: 1px solid $color-action; 
}
