body {
  background-color: $silver;
}

h1 {
    display : inline-block;
}

.projects {
    display : inline-block;
}

.projectBox {
    position : relative;
    width : 21%;
    height : 200px;
    margin : 12.5px;
    border : solid;
    display : inline-block;
    font-size : 10px;
    text-align : center;
    border-color : $asphalt;
    color : $midnightBlue;
    background-color : $clouds;
    -webkit-border-radius : 5px;

    .name {
        font-size : 14px;
        margin-bottom : 1px;      
    }

    .course { 
        font-style : oblique;
    }

    .value {
        display : inline-block;
        width : 100%;
        font-size : 10px;
        margin : 10px 0 5px 0;
    }

    .date {
        position: absolute;
        bottom : 0;
        display : block;
        margin-left : 0;
        font-size : 9px;

        .start {
            width : 50%;
            text-align : left;
        }

        .end { 
            width : 50%;
            text-align : right;
        }
    }
}

#logo {
    float : left;
    height : $logoSize;
    padding : 5px 10px;
}

.proContainer {
    width : 80%;
    margin-left : auto;
    margin-right : auto;
    margin-top : 10px;
    text-align : center;
}

.recentSubs {
    margin-top : 10px;
}