.allOfIt {
    margin-top: 15px;
}

.right {
   float: right;
}

.left {
  float: left;
}

.projectBox.fluid {
    max-height: none;
    margin-bottom: 10px;
}

#proText {
    color: $color-first;
}

.proContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

caption {
    font-size: 20px;
}

.remaining {
    margin-top: 10px;
    margin-bottom: 25px;
}

.sideTable {
    border: solid;
    border: 3px solid white;
    padding-top:-100px;

    ~.sideTable {
        margin-top: 22.5px;
    }
}

.oldBox {
    opacity : .5;

    &:hover {
        opacity : .9!important;

        #endDate{
            opacity: .8!important;
        }
    }

    #endDate {
        opacity: .35; 
        color: $color-red;
    }
}

#endDate {
    padding-top: 15px;
    font-size: 15px;
}