body {
  background-color: $silver;
}

h1{
    display : inline-block;
}

.projectBox{
    margin : 1.5%;
    display : inline-block;
    background-color : $clouds;
    width : 20%;
    text-align : center;
    color : $midnightBlue;
    border : solid;
    border-color : $asphalt;
    -webkit-border-radius : 5px;

    .name {
        font-size : 20px;
        margin-bottom : 1px;      
    }

    .course { 
        font-style : oblique;
    }

    .value {
        display : inline-block;
        width : 100%;
        font-size : 16px;
    }

    .date {
        display : block;

        .start {
            text-align : left;
        }

        .end { 
            text-align : right;
        }
    }
}

#logo {
    float : left;
    height : $logoSize;
    padding : 5px 10px;
}

.progress {
  text-align : center;
  width : 80%;
  margin-left : 8%;
  background-color : $clouds;
}

.proContainer {
    margin-top : 10px;
    margin-left : 50px;
}
