.users-button {
    background: $color-action;
    border: none;

    &:hover {
        background: $color-action-darker;
    }
}

.modal-content {
    border-radius: 0;

    .modal-header {
        border-bottom: none;
        padding: 40px;
        padding-bottom: 10px;

        button {
            margin-top: -5px;

            span {
                font-size: 30px;
                color: $color-first;
            }
        }
    }

    .modal-body {
        padding: 40px;
        padding-top: 0;
    }
}

.submissions-table {
    th:first-child {
        text-align: center;
    }
}

.test-panel-status {
    float: right;
}

﻿ .users-button {
    background: $color-action;
    border: none;

    &:hover {
        background: $color-action-darker;
    }
}

.modal-content {
    border-radius: 0;

    .modal-header {
        border-bottom: none;
        padding: 40px;
        padding-bottom: 10px;

        button {
            margin-top: -5px;

            span {
                font-size: 30px;
                color: $color-first;
            }
        }
    }

    .modal-body {
        padding: 40px;
        padding-top: 0;
    }
}



#files {
    .panel-body {
        padding: 0;
    }
}

#tests {
    .editor.input {
        margin-bottom: 50px;
    }
    h4 {
        margin-left: -15px;
        margin-right: -15px;
        padding: 10px 15px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
        background: lighten(#ddd, 12%);
    }
    .editor {
        border: 1px solid #ccc;
    }
}
