.users-button {
    background: $color-action;
    border: none;

    &:hover {
        background: $color-action-darker;
    }
}

.modal-content {
    border-radius: 0;

    .modal-header {
        border-bottom: none;
        padding: 40px;
        padding-bottom: 10px;

        button {
            margin-top: -5px;

            span {
                font-size: 30px;
                color: $color-first;
            }
        }
    }

    .modal-body {
        padding: 40px;
        padding-top: 0;
    }
}

.submissions-table {
    th:first-child {
        text-align: center;
    }
}

﻿ .users-button {
    background: $color-action;
    border: none;

    &:hover {
        background: $color-action-darker;
    }
}

.modal-content {
    border-radius: 0;

    .modal-header {
        border-bottom: none;
        padding: 40px;
        padding-bottom: 10px;

        button {
            margin-top: -5px;

            span {
                font-size: 30px;
                color: $color-first;
            }
        }
    }

    .modal-body {
        padding: 40px;
        padding-top: 0;
    }
}

.title-box {
    background: #fff;
    border: 1px solid $color-first;
    margin-bottom: 30px;

    .title-box-title {
        background: $color-first;
        color: #fff;
        padding: 10px 20px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            font-weight: 300;
        }
    }

    .title-box-content {
        padding: 30px 20px;
    }
}

#files {
    .panel-body {
        padding: 0;
    }
}

.test.rejected {
	
}
.test.accepted {
    
}