
.coder-table {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border: 1px solid $color-first;
    border-collapse: separate;
    border-spacing: 0;


    i.fa {
        margin-left: 20px;
        font-size: 20px;
    }

    thead > tr {
        border-bottom: 1px solid $color-first;
        background-color: $color-first;

        th {
            padding: 10px 15px;
            font-weight: 400;
            color: #f9f9f9;
        }
    }

    tr {
        td {
            padding: 8px 0;
            padding-left: 15px;
            border-bottom: 1px solid #f0f0f0;
        }

        td:not(:last-child) a {
            color: $color-text;

            &:hover {
                color: $color-action;
            }
        }

        td:last-child:not(:only-child) {
            text-align: right;
            padding-right: 20px;
        }

        &.not-ongoing,
        &.not-started,
        &.project-ended {
            .end-date {
                color: $color-red;
            }

            td,
            td a {
                color: rgba(51, 51, 51, 0.4);
                i {
                    color: $color-action;
                }
            }
        }
    }
}