.coderTable {
    margin-top: 10px;
    width:100%;
    background-color: white;

    th {
        background-color: $color-second;
        text-align:center;
    }
    tr:nth-child(2n) {
        background-color: $color-second;
    }
    caption{        
        font-weight:bolder;
        text-align:left;
        margin-bottom:6px;
    }
}