#projectName {
    width: 100%;
    float: left;
    display: block;
}

#taskName {
    display: block;
    font-size: large;
}

#bestSub {
    width: 100%;
    float: right;
    text-align: right;
}

#bestInTask {
    p {
        text-align: right;
            height: 124px;
    }
}

.taskDescription {
    
}

.small {
    text-align: left;
    display: inline-block;

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}


#tests {
    .test {
        margin-bottom: 20px;
        border: 1px solid $color-text;
        padding: 30px;
    }
    .tests-wrap {
        margin-top: 30px;
    }
}

#taskFiles {
    margin-top: 20px;
    min-height: 231px;
}

#task-tests {
    h4 {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-first;
    }
    .test {
        margin-bottom: 60px;
    }
    
    .editor {
        border: 1px solid #ccc;
    }
}

#task-handin {
    .user-select {
        margin-bottom: 10px;
    }
}

.upload-area {
    position: relative;
    min-height: 325px;

    a {
        margin-top: 10px;
    }

    i {
        transition: 0.2s ease all;
    }
    
    &:hover {
        i {
            margin-bottom: 20px !important;
        }
    }

    .dz-message {
        height: 80px;
        position: relative;
        margin: 60px 0;
        top: 0;
        right: 0;
        left: 0;

        span {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);

            i {
                display: block;
                font-size: 60px;
                margin-bottom: 10px;
            }
        }
    }

    .dz-preview {
        margin-bottom: 40px;

        .dz-success-mark svg g {
            fill: green;
        }

        .dz-error-mark svg g {
            fill: red;
        }
    }
}