#projectName {
    width: 100%;
    float: left;
    display: block;
}

#taskName {
    display: block;
    font-size: large;
}

#bestSub {
    width: 100%;
    float: right;
    text-align: right;
}

.small {
    text-align: left;
    display: inline-block;

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

#tests {
    .test {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 30px;
    }

    h3,
    .remove-test {
        display: inline-block;
    }
}
