@model Coder.Models.Entity.Course

@{
    ViewBag.Title = "Delete";
}

@section heading {
    <h1>Delete - @Model.Name</h1>
}
<div class="whiteBox">
    <h3>Are you sure you want to delete this?</h3>
    <p>This action cannot be undone. All projects, tasks, submissions within this course will be deleted as well.</p>
    <div class="form-horizontal">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-12">
                    <h2>Title: @Model.Title</h2>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="CourseTitle">Type in the title of the course to delete it: </label>
                <div class="col-md-9">
                    <input class="form-control text-box single-line" id="CourseTitle" name="CourseTitle" type="text" />
                    <span class="field-validation-valid text-danger">@TempData["ErrorMessage"]</span>
                </div>
            </div>

            <div class="form-group text-center">
                <div class="col-md-12">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </div>
        }
    </div>
</div>