@model IEnumerable<Coder.Models.ViewModels.CommentViewModel>
@using Microsoft.AspNet.Identity
@using Coder.Helpers

<table class="table comments-table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Text</td>
                <td>@item.Created</td>
                <td>
                    @if (item.CanDelete)
                    {
                        <a href=@Url.Action("Delete", "Comments", new { id = item.Id })><i class="fa fa-trash"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
