$logoSize : 75px;
$logoMargin : 3%;

//COLOR
$asphalt : #34495e;
$silver : #bdc3c7;
$wisteria : #8e44ad;
$clouds : #ecf0f1;
$concrete : #95a5a6;
$asbestos : #7f8c8d;
$emerald : #3bd27a;
$midnightBlue : #2c3e50;
$greenSea : #16a085;

$boxPadding : 1%;
$boxMarginUD : 2%;
$boxMarginRL : 1%;

body {
  background-color: $silver;
}

h1{
    display : inline-block;
}

.projectBox{
    display : inline-block;
    margin : $boxMarginUD;
    background-color : $clouds;
    width : 20%;
    text-align : center;
    color : $midnightBlue;
    border : solid;
    border-color : $asphalt;
    -webkit-border-radius : 5px;

    .name {
        font-size : 20px;      
    }

    .course { 
        font-style : oblique;
    }

    .status {
        font-size : 30px;
    }

    .date {
        display : inline-block;

        .start {
            text-align : left;
        }

        .end { 
            text-align : right;
        }
    }
}

#logo {
    float : left;
    height : $logoSize;
    padding : 5px 10px;
}

.navbar-collapse.collapse {
    float : left;
    margin-top : 10px;
    width : 85%;
}

.nav.navbar-nav.navbar-right {
    float : right;
}

.theBoxes {
    margin-top : 5%;
}
