@model Coder.Models.ViewModels.ErrorViewModel
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Error";
}

<h1>@Model.StatusCode</h1>
<h2>@Model.Message</h2>

<p>Something went terribly wrong!</p>

<div>
    <button onclick="javascript:history.back()">Go back</button>
    <button>Contact us</button>
    @*Todo-- add contact action*@
</div>
