@model Coder.Models.ViewModels.ErrorViewModel
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Error";
}

<h1>@Model.StatusCode</h1>
<h2>@Model.Message</h2>

<p>Blablabla</p>

<div>
    <button>Back</button>
    <button>Contact us</button>
</div>
